@import "variables";
@import "fonts";

body>header {
  @include oswald();
  //margin: 0 0 20px 0;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  .no_list_style {
    list-style: none;
  }

  ul, p
  {
    padding: 0;
    margin: 0;
    display: inline-block;

    li
    {
      display: inline-block;

      >a
      {
        text-decoration: none;
        display: block;
        color: white;
        margin: 0 26px 0 0;
        &:last-child
        {
          margin: 0 42px 0 0;

        }

        &::first-letter
        {
          text-transform: uppercase;
        }
      }

    }
  }


  .header__part
  {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    &.logo__block
    {
      background-color: $darkGray;
      //min-height: 80px;
      text-transform: uppercase;
    }
  }

    menu.header__part
    {
    background-color: $gray;
    min-height: 42px;
    text-transform: uppercase;
    font-size: .75rem;

    >.page__navigation
    {
      margin: 0 0 0 26px;
      @include tablet
      {
        margin: 0;
      }

      >li
      {
        padding: 8px 13px;
        transition: all .3s;
        &:hover
        {
          background-color: $blue;
          color: white;
          cursor: pointer;
        }
      }
    }

    .right__wrapper {
      .page__action {
        > * {
          margin: 0 0 0 23px;

          &:before {
            margin: 0 7px 0 0;
            font-size: 1.7em;
            font-family: 'FontAwesome';
          }
        }

        #share:before {
          content: "\f1e0";

        }

        #follow:before {
          content: "\f006";
        }

        #edit:before {
          content: '\f040';
        }
      }

      .page__mode {
        margin: 0 26px 0 42px;

        #fullscreen:before {
          font-size: 1.7em;
          font-family: 'FontAwesome';
          content: '\f0b2';
        }

        @include tablet
        {
          display: none;
        }
      }

    }

    @include tablet
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0 20px 0;

      >*{
        margin: 0;
      }
    }
  }

    nav.header__part {
    $navMinHeight: 36px;
    background-color: $blue;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: $navMinHeight;
    p
    {
      text-transform: uppercase;
      padding: 0 0 0 65px;
      font-family: Oswald;
    }

    .right__block
    {
      line-height: 36px;
      >*
      {
        display: inline-block;
      }


      >.links a
      {
        position: relative;

        &:after
        {
          content: '';
          position: absolute;
          bottom: 5px;
          left: 0;
          background-color: white;
          width: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 2px;
          transition: width .3s;

        }

        &:hover {
          &:after
          {
            width: 100%;
          }
        }
      }

      >.user__fields
      {
        background-color: $gray;
        color: black;
        padding: 0 0 0 29px;
        min-width:234px;
        transition: all .3s;


        >*
        {
          display: inline-block;
        }

        >#user_menu
        {
          display: none;

          ~.name
          {
            text-transform: capitalize;
            min-width: 125px;
            cursor: pointer;
            position: relative;
            &:after
            {
              content: '\f0d7';
              display: inline-block;
              transform-origin: center;
              transition: .3s;
              //line-height: 12px;
              font-family: "FontAwesome";
              margin: 0 15px;
            }

            .user_menu_content
            {
              position: absolute;
              height: 0;
              width: 95%;
              padding: 0 0 0 5%;
              background-color: $blue;
              overflow: hidden;
              transition: all .3s;
              color: white;
            }
          }

          &:checked
          {
            ~.name
            {

              color: $blue;
              //background-color: $blue;
              &:after
              {
                transform: rotateX(180deg);
              }
              >.user_menu_content
              {
                height: 100px;
              }
            }
          }
        }


        >.settings
        {
          &:hover
          {
            cursor: pointer;
            color: $blue;
          }
          &:before
          {
            content: '\f013';
            font-family: "FontAwesome";
            margin: 0 10px 0 0;
          }
        }

        >.questions
        {
          padding: 0 10px 0 0;
          &:hover
          {
            cursor: pointer;
            color: $blue;
          }
          &:before
          {
            content: '\f059';
            font-family: "FontAwesome";
          }
        }
      }

      //@include phone
      //{
      //  display: none;
      //}
    }
    }

    >.logo__block
    {
      justify-content: flex-start;
      >.logo__image
      {
        max-height: 43px;
        margin: 0 27px 0 20px;

        @include tablet
        {
          margin: 0 0 0 50px;
        }
      }
      
      >p
      {
        color: #7be7f8;
        @include tablet
        {
          display: none;
        }
      }

      .adaptive_menu__toogler_wrap
      {
        display: none;
        background-color: $blue;
        //margin: 0 0 0 10px;
        position: absolute;
        height: 100%;
        @include tablet
        {
          display: block;
          cursor: pointer;

          >.adaptive_menu__toogler
          {
            width: 20px;
            height: 3px;
            position: relative;
            background-color: white;
            margin: 15px 10px;

            &:after, &:before
            {
              content: '';
              position: absolute;
              background-color: white;
              display: block;
              width: 100%;
              height: 3px;
            }

            &:after{
              top: 6px;
            }
            &:before{
              top: -6px;
            }
          }
        }
      }

    }
  
  @include tablet
  {
    .adaptive_menu__wrap
    {
      top:-100vh;
      overflow: hidden;
      position: fixed;
      height: 100vh;
      width: 100%;
      transition: top .3s;
      background-color: $gray;

      >nav.header__part
      {
        display: flex;
        flex-direction: column;
        align-items: center;

        >.page__name
        {
          padding: 0;
        }

        >.right__block
        {
          text-align: center;
        }
      }


        &.active {
          transition: top .3s;
          top: 0;
          display: block;
          //position: fixed;
        }
    }

  }
}