@import "mixins";
@import "variables";

.content>.main
{
  display: flex;
  font-size: 1rem;
  width: 90%;
  margin: 0 auto 20px auto;
  @media screen and (max-width: 1040px)
  {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: auto;
  }



  .person__info
  {
    min-width: 400px;
    font-family: Oswald;
    margin: 0 20px 0 0 ;

    @media screen and (max-width: 1040px)
    {
      //max-width: 70%;
      width: 100%;
      margin: 20px auto;
    }

    input
    {
      width: 100%;
      padding: 10px;
      margin: 0 0 10px 0;
      min-height: 40px;
      font-size: 1rem;
      display: block;
      //@media screen and (min-width: 320px)
      //{
      //  font-size: 2rem;
      //}
      &::placeholder
      {
        font-size: 1rem;
        //@media screen and (min-width: 320px)
        //{
        //  font-size: 2rem;
        //}
        // TODO replace font
      }


    }
    
    .location__block
    {
      display: flex;
      margin: 0 0 10px 0;
      :first-child
      {
        margin: 0 8px 0 0;
        @include phone
        {
          margin: 0 0 10px 0;
        }
      }


      >*{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        color: white;
        min-width: 196px;
        min-height: 60px;




        &:before
        {
          font-family: FontAwesome;
          font-size: 2em;
          margin: 9px;
        }

        .text__wrap
        {
          max-width: 123px;
        }

        @media screen and (max-width: 1040px)
        {
          width: 100%;
        }

        @media screen and (min-width: 320px){
          //font-size: 2.3rem;

          .text__wrap
          {
            max-width: 300px;
          }
        }
      }

      #movement__block
      {
        background-color: $green;
        
        &:hover
        {
          cursor: pointer;
        }
        &:before
        {
          content: '';
        }
      }
      #place_search__block
      {
        background-color: $purple;

        &:hover
        {
          cursor: pointer;
        }
        &:before
        {
          content: '';
        }
      }

      .content__to_show
      {
        position: fixed;
        background-color: rgba(0,0,0, .8);
        top: 100vh;
        left: 0;
        z-index: 1000;
        height: 100vh;
        width: 100vw;
        transition: all .3s;

        &.active
        {
          transition: all .3s;
          top: 0;
        }
      }

      @include phone
      {
        flex-direction: column;
      }
    }

    .office_info__block {
      border: 1px solid $officeGray;
      header {
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        background-color: $officeGray;
        color: white;
        //font-size: 2rem;
        font-weight: 400;
        margin: 0 0 10px 0;
      }

      .office_info {

        font-size: .8rem;
        padding: 0 0 0 15px;
        color: $officeGray;

        ul
        {
          @include no-style-list();
          > li {
            display: inline-block;
          }
        }

        >*
        {
          margin: 0 0 10px 0;
        }

        &:last-child
        {
          margin: 0 0 70px 0;
        }

        .location {
          text-transform: capitalize;
          > li:after {
            content: ">";
            margin: 0 7px 0 5px;
          }
        }

        .floors
        {

          .name
          {
            text-transform: capitalize;
            margin: 0 0 10px 0;
          }

          .floor
          {
            border: 1px solid $officeGray;
            border-radius: 50%;
            width: 1rem;
            text-align: center;

            @include phone
            {
              width: $phoneFontSize;
              height: $phoneFontSize;
            }
          }
        }
        
        .room_info>*:first-letter
        {
          text-transform: uppercase;
        }
      }
    }
    @include phone
    {
      min-width: 0px;
    }
  }

  .person__history
  {
    width: 100%;
    //min-width: 880px;
    border: 1px solid $tableBorder;
    font-family:Oswald;


    nav.tab
    {
      background-color: $blue;
      >.tablink
      {
        font-family: inherit;
        border: none;
        outline: none;
        transition: 0.3s;
        background-color: inherit;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        padding: 13px 15px;
        
        &.active
        {
          background-color: white;
          color: $blue;
        }

        &:hover
        {
          cursor: pointer;
        }

        @include phone
        {
          font-size: 0.5rem;
        }
      }
      
      @include phone
      {
        //text-align: center;
      }
    }

    .tabcontent
    {
      display: none;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
      height: 500px;
      overflow: auto;
    }
    @-webkit-keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    table{
      //padding: 0 15px;
      border-spacing: 0;
      width: 100%;
      thead
      {
        font-size: 1.3rem;
        font-weight: 700;
        *:first-letter
        {
          text-transform: uppercase;
        }

        .underline
        {
          height: 2px;
          background: $tableBorder;
        }

        @include phone
        {
          font-size: 0.75rem;
        }
      }

      .request_col
      {
        //min-width: 550px;

        width: 100%;
      }

      .date_col .text__wrap
      {
        max-width: 170px;
        box-sizing: border-box;
        &:after
        {
          content: "\f107";
          font-family: FontAwesome;
          margin: 0 0 0 10px;
          //display: inline;
        }
        border-bottom: 2px solid transparent;
        transition: all .3s;
        &:hover
        {
          border-bottom: 2px solid $blue;
          color: $blue;
          cursor: pointer;
        }
      }

      tr
      {
        line-height: 40px;
        td
        {
          padding: 0 15px;

          .state
          {
            max-width: 70px;
            line-height: 20px;
            font-size: .75rem;
            color: white;

            &:first-letter
            {
              text-transform: uppercase;
            }

            &.rejected
            {
              background-color: $rejected;
            }

            &.allowed
            {
              background-color: $green;
            }
          }
        }
      }

      >tbody
      {
        font-weight: 300;
        >tr:nth-child(2n+1)
        {
          background: $tableGray;
        }
      }
    }

  }
}