@import "mixins";
@import "variables";
@import "mixinTable";
@import "mixinTabs";

.content>.main
{
  display: flex;
  font-size: 1rem;
  width: 90%;
  margin: 0 auto 20px auto;
  @media screen and (max-width: 1040px)
  {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: auto;
  }

  .person__info
  {
    min-width: 400px;
    font-family: Oswald;
    margin: 0 20px 0 0 ;

    @media screen and (max-width: 1040px)
    {
      width: 100%;
      margin: 20px auto;
    }

    input
    {
      width: 100%;
      padding: 10px;
      margin: 0 0 10px 0;
      min-height: 40px;
      font-size: 1rem;
      display: block;

      &::placeholder
      {
        font-size: 1rem;
        // TODO replace font
      }
    }
    
    .location__block
    {
      display: flex;
      margin: 0 0 10px 0;
      :first-child
      {
        margin: 0 8px 0 0;
        @include phone
        {
          margin: 0 0 10px 0;
        }
      }

      >*{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        color: white;
        min-width: 196px;
        min-height: 60px;

        &:before
        {
          font-family: FontAwesome;
          font-size: 2em;
          margin: 9px;
        }

        .text__wrap
        {
          max-width: 123px;
        }

        @media screen and (max-width: 1040px)
        {
          width: 100%;
        }

        @media screen and (min-width: 320px){

          .text__wrap
          {
            max-width: 300px;
          }
        }
      }

      #movement__block
      {
        background-color: $green;
        
        &:hover
        {
          cursor: pointer;
        }
        &:before
        {
          content: '';
        }
      }
      #place_search__block
      {
        background-color: $purple;

        &:hover
        {
          cursor: pointer;
        }
        &:before
        {
          content: '';
        }
      }

      .content__to_show
      {
        position: fixed;
        background-color: rgba(0,0,0, .8);
        top: 100vh;
        left: 0;
        z-index: 1000;
        height: 100vh;
        width: 100vw;
        transition: all .3s;

        &.active
        {
          transition: all .3s;
          top: 0;
        }
      }

      @include phone
      {
        flex-direction: column;
      }
    }

    .office_info__block {
      border: 1px solid $officeGray;
      header {
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        background-color: $officeGray;
        color: white;
        font-weight: 400;
        margin: 0 0 10px 0;
      }

      .office_info {

        font-size: .8rem;
        padding: 0 0 0 15px;
        color: $officeGray;

        ul
        {
          @include no-style-list();
          > li {
            display: inline-block;
          }
        }

        >*
        {
          margin: 0 0 10px 0;
        }

        &:last-child
        {
          margin: 0 0 70px 0;
        }

        .location {
          text-transform: capitalize;
          > li:after {
            content: ">";
            margin: 0 7px 0 5px;
          }
        }

        .floors
        {

          .name
          {
            text-transform: capitalize;
            margin: 0 0 10px 0;
          }

          .floor
          {
            border: 1px solid $officeGray;
            border-radius: 50%;
            width: 1rem;
            text-align: center;

            @include phone
            {
              width: $phoneFontSize;
              height: $phoneFontSize;
            }
          }
        }
        
        .room_info>*:first-letter
        {
          text-transform: uppercase;
        }
      }
    }
    @include phone
    {
      min-width: 0px;
    }
  }

  .person__history
  {
    width: 100%;
    border: 1px solid $tableBorder;
    font-family:Oswald;

    @include tabs;
    @include table;

  }
}