@import "mixins";
@import "colorsState";

@mixin table {
  font-family: 'Source Sans Pro', sans-serif;
  flex-flow: column;
  >header
  {
    padding: 15px 0 0 18px;
    text-transform: uppercase;
    font-weight: 300;
    color: $tabGray;
    font-size: 1.3rem;
  }
  table {
    //padding: 0 15px;
    border-spacing: 0;
    width: 100%;
    thead
    {
      font-size: .7rem;
      //font-weight: 700;
      font-weight:bold;
      *:first-letter {
        text-transform: uppercase;
      }
      .underline {
        height: 2px;
        background: $tableBorder;
      }
      @include phone {
        font-size: 0.75rem;
      }

      >tr>th
      {
        padding: 0 0 0 15px;
      }
    }
    .request_col {
      //min-width: 550px;
      width: 100%;
    }
    .text__wrap {
      max-width: 170px;
      box-sizing: border-box;
      &:after {
        content: "\f107";
        font-family: FontAwesome;
        margin: 0 0 0 10px;
        //display: inline;
      }
      border-bottom: 2px solid transparent;
      transition: all .3s;
      &:hover {
        border-bottom: 2px solid $blue;
        color: $blue;
        cursor: pointer;
      }
    }
    tr {
      //line-height: 40px;
      td {
        padding: 0 15px;
        .state {
          max-width: 70px;
          line-height: 20px;
          font-size: .75rem;
          color: white;
          text-align: center;
          &:first-letter {
            text-transform: uppercase;
          }
          @include setColors($stateColors);
        }
      }
    }
    > tbody {
      tr
      {
        line-height: 40px;
      }
      font-weight: 300;
      > tr:nth-child(2n+1) {
        background: $tableGray;
      }
    }
  }

  @include tablet
  {
    table
    {
      display: flex;
      flex-direction: row;
      border-bottom: solid 1px $tableBorder;

      thead
      {
        width: 25%;
        border-right: 1px solid $tableBorder;
        @include phone
        {
          width: 40%;
        }

        >tr
        {
          display: none;
        }
        >tr:first-child
        {
          display: flex;
          flex-direction: column;
          text-align: left;
          >th
          {
            padding: 0 0 0 5px;
            height: 50px;
            display: flex;
            align-items: center;

            &:nth-child(2n+1)
            {
              background-color: $tableGray;
            }
          }
        }
      }

      tbody
      {
        width: 75%;
        overflow: auto;
        display: flex;
        flex-direction: row;
        @include phone
        {
          width: 60%;
        }

        >tr
        {
          display: flex;
          flex-direction: column;
          background-color: transparent;
          line-height: normal;

          >td
          {
            height: 50px;
            background-color: white;
            display: flex;
            align-items: center;
            &:nth-child(2n+1)
            {
              background-color: $tableGray;
            }

            >.state
            {
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}