@mixin tabs {
  nav.tab {
    background-color: $blue;
    > .tablink {
      font-family: inherit;
      border: none;
      outline: none;
      transition: 0.3s;
      background-color: inherit;
      color: white;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
      padding: 13px 15px;

      &.active {
        background-color: white;
        color: $blue;
      }

      &:hover {
        cursor: pointer;
      }

      @include phone {
        font-size: 0.5rem;
      }
    }

    @include phone {
      //text-align: center;
    }
  }

  .tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    height: 500px;
    overflow: auto;
  }
  @-webkit-keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @content;
}