.nav_menu__wrap
{
  a
  {
    text-decoration: none;
    color: white;
  }
  max-width: $navMenuWidth;
  overflow: scroll;
  background-color: $blue;
  color: white;
  position: fixed;
  height: 100%;
  left: 0;

  >.nav_menu__item
  {
    min-width: $navMenuWidth;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Oswald";
    text-transform: uppercase;

    @include laptop
    {
      min-height: 30px;
    }
    >a
    {
      position: relative;
      &:before
      {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #5ecbdc;
      }
    }

    a
    {
      display: block;
      padding: 0 0 0 40px;
      line-height: 50px;
      width: 100%;
      box-sizing: border-box;

      @include laptop
      {
        line-height: 40px;
      }
      &.dropdown
      {
        ~ul
        {
          width: 100%;
          max-height: 0;
          background-color: $lightBlue;
          overflow: hidden;
          transition: all .3s;
          a
          {
            color: $darkGray;
          }
        }

        &:after
        {
          content: "\f0d7";
          font-family: "FontAwesome";
          position: absolute;
          right: 25px;
          transition: all .3s;
        }

        &.active
        {
          background-color: $darkBlue;
          ~ul
          {
            transition: all .3s;
            max-height:500px;
          }

          &:after
          {
            transform: rotateX(180deg);
          }
        }
      }


    }
  }
}