@import "mixinTable";
@import "mixinTabs";
@import "colorsDocumentType";

body {
  .content {
    margin-left: $navMenuWidth;
    @include laptop
    {
      margin-left: 0;
    }
    button
    {
      border: 0;
      min-width: 190px;
      font-size: .7rem;
      padding: 5px;
      margin: 0;
      outline: none;
      color: white;
      background-color: transparent;
      box-sizing: border-box;
      @include phone
      {
        width: 100%;
      }
      >.button__text
      {
        padding: 5px;
        min-width:inherit;
        box-sizing: border-box;
      }

      >.button__content
      {
        color: black;
        text-align: left;
      }
      
      &.create__document {
        >.button__text
        {
          background-color: $green;
          &:before
          {
            content: "\f016";
            font-family: "FontAwesome";
          }
        }
      }
      
      &.attach__document {
        >.button__text
        {
          background-color: $yellow;
          &:before
          {
            content: "\f0c6";
            font-family: FontAwesome;
          }
        }

        .annex .dropdown_item
        {
          min-width: 400px;
        }
      }

      &.hover_dropdown
      {
        .dropdown_item
        {
          text-transform: lowercase;
          &:first-letter
          {
            text-transform: uppercase;
          }
        }
        >.button__text
        {
          span
          {
            margin: 0 15px 0 10px;
            display: inline-block;
            &:first-letter
            {
              text-transform: uppercase;
            }
          }

          &:after
          {
            content: '\f107';
            font-family:FontAwesome;
          }


        }

        >.button__content
        {
          position: absolute;
          max-width: 190px;
          background-color: white;

          ul
          {
            max-height: 0px;
            overflow: hidden;
            border: 0px solid $tableBorder;
            transition: max-height .3s;
            li
            {
              min-width: 190px;
              padding: 12px 0 6px 20px;
              box-sizing: border-box;
              background-color: white;
              &:first-letter
              {
                text-transform: uppercase;
              }
            }

            .hover_dropdown
            {
              >ul
              {
                position: absolute;
                left: 100%;
                top: 100%;
                max-width: 0;
                background-color: inherit;
                color: black;
                z-index: inherit;
                transition: all .3s;
                @include phone
                {
                  position: relative;
                  left:0;
                  top: 0;
                }

                .dropdown_item {
                  background-color: white;
                }

                >li:hover
                {
                  color: white;
                  background-color: inherit;
                }
              }

              &:hover
              {
                ul
                {
                  top: 0;
                  max-height: none;
                  max-width: none;
                  transition: all .3s;
                  min-width: 250px;
                  border-width: 1px;
                  @include phone
                  {
                    max-width:0;
                  }
                }
              }
              &:after
              {
                font-family: FontAwesome;
                float: right;
                text-transform: none;
                margin-right: 20px;
                content: '\f105';
                @include phone
                {
                  content: '\f107';
                }
              }
            }
          }

          >.document__types
          {
            //margin: 5px 0 0 0;
            >.document__type
            {
              //min-width: 190px;
              //padding: 12px 0 6px 20px;
              //box-sizing: border-box;
              text-transform: capitalize;
              transition: all .3s;

              &:hover
              {
                color: white;

                @each $item, $color in $docTypeColors
                {
                  &.#{$item}
                  {
                    background-color: $color;
                  }
                }
              }
            }
          }
          @include phone
          {
            position: relative;
            max-width: none;
          }
        }
        &:hover
        {
          cursor: pointer;
          >.button__content
          {
            >ul
            {
              border-width: 1px;
              max-height: none;
              //max-height: 220px;
              //@include tablet {
              //  max-height: 250px;
              //}
            }
          }
          .document__types
          {
            margin: 5px 0 0 0;
          }
        }
      }
    }

    >section.page_content
    {
      padding: 15px;
      font-family: "Oswald";

      .document_actions
      {
        display: inline-block;
        margin: 0 0 15px 0;
        font-family: 'Source Sans Pro', sans-serif;
      }

      input#main__search
      {
        float: right;
        padding: 5px;

        @include phone
        {
          float: none;
          width: 100%;
          margin: 0 0 10px 0;
        }
      }

      >.tab__wrap
      {
        border: 1px solid $tableBorder;

        @include tabs
        {
          nav.tab
          {
            background-color: $tabGray;

            >.tablink.active
            {
              color: $tabGray;
            }
          }
        }

        > .tabcontent
        {
          @include table;
        }
      }
    }
  }
}