@import "mixinTable";
@import "mixinTabs";
@import "colorsDocumentType";

body {
  .content {
    margin-left: $navMenuWidth;
    @include laptop
    {
      margin-left: 0;
    }
    button
    {
      border: 0;
      min-width: 190px;
      font-size: .7rem;
      padding: 5px;
      margin: 0;
      outline: none;
      color: white;
      background-color: transparent;
      box-sizing: border-box;

      >.button__text
      {
        padding: 5px;
        min-width:inherit;
        box-sizing: border-box;

      }

      >.button__content
      {
        color: black;
        text-align: left;
      }
      
      &.create__document {
        >.button__text
        {
          background-color: $green;
          &:before {
            content: "\f016";
            font-family: "FontAwesome";
          }
        }
      }
      
      &.attach__document {
        >.button__text
        {
          background-color: $yellow;
          &:before
          {
            content: "\f0c6";
            font-family: FontAwesome;
          }
        }
      }

      &.hover_dropdown
      {
        >.button__content
        {
          max-height: 0px;
          overflow: hidden;
          position: absolute;
          max-width: 190px;
          transition: max-height .3s;
          background-color: white;
          >.document__types
          {
            margin: 5px 0 0 0;
            >.document__type
            {
              min-width: 190px;
              padding: 12px 0 6px 20px;
              box-sizing: border-box;
              text-transform: capitalize;
              transition: all .3s;

              &:hover
              {
                color: white;

                @each $item, $color in $docTypeColors
                {
                  &.#{$item}
                  {
                    background-color: $color;
                  }
                }
              }
            }
          }
        }
        &:hover
        {
          cursor: pointer;
          >.button__content
          {
            max-height: 215px;
          }
        }
      }
    }

    >section.page_content
    {
      padding: 15px;
      font-family: "Oswald";

      .document_actions
      {
        display: inline-block;
        margin: 0 0 15px 0;
        font-family: 'Source Sans Pro', sans-serif;
      }

      input#main__search
      {
        float: right;
        padding: 5px;

        @include phone
        {
          float: none;
          width: 100%;
          margin: 0 0 10px 0;
        }
      }

      >.tab__wrap
      {
        border: 1px solid $tableBorder;

        @include tabs
        {
          nav.tab
          {
            background-color: $tabGray;

            >.tablink.active
            {
              color: $tabGray;
            }
          }
        }

        > .tabcontent
        {
          @include table;
        }
      }
    }
  }
}