// colors
$blue: #36c3d8;
$gray: #efefef;
$officeGray: #999;
$tableGray: #f5f5f5;
$tableBorder: #d2d2d2;
$rejected: #b32746;
$darkGray: #454446;
$mapGray: #e1e1e1;
$green : #a3c644;
$purple: #937ebd;


// fonts sizes
$phoneFontSize: 25px;
$tabletFontSize: 23px;
$laptopFontSize: 20px;
$desktopFontSize: 18px;