// colors
$blue: #36c3d8;
$darkBlue: #31a5b7;
$lightBlue: #e1f6f9;

$gray: #efefef;
$officeGray: #999;
$tableGray: #f5f5f5;
$tableBorder: #d2d2d2;
$darkGray: #454446;

$rejected: #b32746;
$green : #a3c644;
$yellow: #ecc134;
$mapGray: #e1e1e1;
$purple: #937ebd;

// fonts sizes
$phoneFontSize: 25px;
$tabletFontSize: 23px;
$laptopFontSize: 20px;
$desktopFontSize: 18px;


$navMenuWidth: 250px;