- var pageName = "office space managment portal"

html
    head
        link(href="css/main.css" rel="stylesheet")
        meta(content="width=device-width, initial-scale=1", name="viewport")
    body
        include modules/header
        .content
            include modules/mapSection
            include modules/main
        script(src="js/main.js")
        <script (async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjOi2Y7HP1SA3c5YY3gGlfRoubcm9BwrA&callback=initMap") ></script>
