- var pageName = "odm"

html
    head
        link(href="css/odm.css" rel="stylesheet")
        meta(content="width=device-width, initial-scale=1", name="viewport")
    body
        include modules/header
        .content
            include modules/navMenu
            include modules/odmMainSection

        script(src="js/main.js")