- var pageName = "odm"

html
    head
        meta(content="width=device-width, initial-scale=1", name="viewport")
        link(href="css/odm.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet")
    body
        include modules/header
        .content
            include modules/navMenu
            include modules/odmMainSection

        script(src="js/odm.js")