@import "modules/mixins";
@import "modules/variables";
html
{
  //$currentFontSize;

  @include desktop

  {
    font-size: $desktopFontSize;
  }
  @include laptop
  {
    font-size: $laptopFontSize;
  }

  @include tablet
  {
    font-size: $tabletFontSize;
  }

  @include phone
  {
    font-size: $phoneFontSize;
  }

}

body
{
  margin: 0;
  padding: 0;



  .content
  {
    max-width: 1690px;
    margin: auto;

  }
}
@import "modules/header";
@import "modules/map";
@import "modules/main";