section
    section.person__info
        input#person__search(placeholder="Search for a person")
        .location__block
            #movement__block movement request
            #place_search__block look for available place
        .office_info__block
            header my office
            .office_info
                ul.location
                    li#cuntry russia
                    li#city saint-petersburg
                    li#street nab.Chornoy rechki
                ul.floors
                    li.floor 1
                    li.floor 2
                    li.floor 3
                    li.floor 4
                    li.floor ...
                    li.floor 25
                #unit unit: 654
                #room_number number for room: 654


    section.person__history
        .tab
            button.tablink(onclick="openTab(event, 'requests')") my requests
            button.tablink(onclick="openTab(event, 'viewed')") recently viewed units
            button.tablink(onclick="openTab(event, 'units')") my units
        .tabcontent#requests
        .tabcontent#viewed
        .tabcontent#units

