section.main
    section.person__info
        input#person__search(placeholder="Search for a person")
        .location__block
            #movement__block.to_show
                .text__wrap movement request
            .content__to_show movement content
                    button.btn__close_subElement close
            #place_search__block.to_show
                .text__wrap look for available place
            .content__to_show place search content
                    button.btn__close_subElement close
        .office_info__block
            header my office
            .office_info
                ul.location
                    li#cuntry russia
                    li#city saint-petersburg
                    li#street nab.Chornoy rechki
                ul.floors
                    .name floors:
                    li.floor 1
                    li.floor 2
                    li.floor 3
                    li.floor 4
                    li.floor ...
                    li.floor 25
                .room_info
                    #unit unit: 654
                    #room_number number of room: 654



    section.person__history
        nav.tab
            button.tablink(onclick="openTab(event, 'requests')", id="defaultOpen") my requests
            button.tablink(onclick="openTab(event, 'viewed')") recently viewed units
            button.tablink(onclick="openTab(event, 'units')") my units
        .tabcontent#requests
            table.request_results
                thead
                    tr
                        td.request_col request
                        td.date_col
                            .text__wrap date
                        td.status_col(align="center") status
                    tr
                        td.underline
                        td.underline
                        td.underline
                tbody
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.allowed allowed
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.allowed allowed
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.allowed allowed
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.allowed allowed
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.allowed allowed
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected
                    tr
                        td Praesent felis nibh, faucibus et interdum ut
                        td 07/24/2015
                        td(align="center")
                            .state.rejected rejected







        .tabcontent#viewed
            .bla    viewed
        .tabcontent#units
            .blabla units

