section.map__section
    #map
    .numbers__wraper
        header.numbers__header
            .number 19
            .text countries worldwide
        section.numbers__content
            #employees
                .number 15 000+ employees
            #experience
                .number 30 years in business
