ul.nav_menu__wrap
    li.nav_menu__item
        a.nav_menu__item__link#home(href="#") home
    li.nav_menu__item
        a.nav_menu__item__link#documents(href="#") documents
    li.nav_menu__item
        a.nav_menu__item__link#calendar(href="#") calendar
    li.nav_menu__item
        a.nav_menu__item__link#archive(href="#") archive
    li.nav_menu__item
        a.nav_menu__item__link#nomenclature(href="#") nomenclature
    li.nav_menu__item
        a.nav_menu__item__link#organizations(href="#") organizations