section.nav_menu__wrap
    ul.nav_menu
        li.nav_menu__item
            a.nav_menu__item__link#home(href="#") home
        li.nav_menu__item
            a.nav_menu__item__link.dropdown.active#documents(href="#") documents
            ul.documets
                li.document__item
                    a.document__item_link(href="#") incoming documents
                li.document__item
                    a.document__item_link(href="#") outgoing documents
                li.document__item
                    a.document__item_link(href="#") fax documents
                li.document__item
                    a.document__item_link(href="#") powers of attorney
                li.document__item
                    a.document__item_link(href="#") manuals
                li.document__item
                    a.document__item_link(href="#") orders
                li.document__item
                    a.document__item_link(href="#") contracts
                li.document__item
                    a.document__item_link(href="#") other documents

        li.nav_menu__item
            a.nav_menu__item__link#calendar(href="#") calendar
        li.nav_menu__item
            a.nav_menu__item__link#archive(href="#") archive
        li.nav_menu__item
            a.nav_menu__item__link#nomenclature(href="#") nomenclature
        li.nav_menu__item
            a.nav_menu__item__link#organizations(href="#") organizations

    #nav_menu__togler