include tableTemplate
section.page_content
    .document_actions
        button.create__document.hover_dropdown
            .button__text
                span create document
            .button__content
                ul.document__types.hover_dropdown
                    li.document__type.incoming incoming document
                    li.document__type.outgoing outgoing document
                    li.document__type.fax fax document
                    li.document__type.warrant warrant
                    li.document__type.job_description job description
                    li.document__type.contract.hover_dropdown contract
                        ul
                            li.dropdown_item Rent
                            li.dropdown_item Construction
                            li.dropdown_item Security services
                            li.dropdown_item Sponsorship
                            li.dropdown_item Maintenance services
                            li.dropdown_item Furniture/chairs supply
                            li.dropdown_item Software development and delivery
                            li.dropdown_item Licences
                            li.dropdown_item HW supply
                            li.dropdown_item NDA
                            li.dropdown_item Services
                            li.dropdown_item Supply
                            li.dropdown_item Work contract
                            li.dropdown_item Contract with individuals
                            li.dropdown_item Education, seminars & trainings
                            li.dropdown_item Travel
                            li.dropdown_item Other

        button.attach__document.hover_dropdown
            .button__text
                span attach document
            .button__content
                ul.document__types.hover_dropdown
                    li.document__type.contract contract
                    li.document__type.annex.hover_dropdown annex
                        ul
                            li.dropdown_item act of acceptance of property or rooms
                            li.dropdown_item price negotiation protocol
                            li.dropdown_item estimate
                            li.dropdown_item Requirements specification, project, scheme, layout or another task
                            li.dropdown_item Payment schedule
                            li.dropdown_item Work/services fulfillment schedule
                            li.dropdown_item Protocol of disagreements
                            li.dropdown_item Disagreements settlement protocol
                            li.dropdown_item Certificate of cost of the performed work
                            li.dropdown_item Acts of acceptance of performed works / rendered services
                            li.dropdown_item Supply contracts specifications
                            li.dropdown_item Acts of acceptance of the rendered services (software development)
                            li.dropdown_item Act of acceptance of the rights for the computer program
                            li.dropdown_item Other
    input#main__search(placeholder="search")

    section.tab__wrap
        nav.tab
            button.tablink(onclick="openTab(event, 'created')") created by me
            button.tablink#defaultOpen(onclick="openTab(event, 'approval')") under my approval
            button.tablink(onclick="openTab(event, 'sent')") sent for group
        .tabcontent#created created
        .tabcontent#approval
            // to use table template mixin set this values and send t to table(t)
            //- var theadColumns = {wrap:{value:"text1"}, first_class:"one", second_class:"second", wrap:{value:"text2"} };
            -
                var theadColumns = {
                    date: {value:"incoming date"},
                    first_class: "incoming number",
                    second_class: "external doc. index",
                    wrap2: {value:"external doc. type"},
                    type: "type",
                    theme: "theme",
                    send_form: "send from",
                    send_to: "send to",
                    executor: "executor",
                    execution_date: "execution date",
                    state: "execution mark",
                    actions: "actions"
                }
            -
                var tbodyRows = [
                    [ "07/15/2015", "01-01/6", "01-01", "07/15/2015", "Letter", "Whatever", "Organization 1", "EPAM","iavn ivanov","15/15/2015", { state: "signed" }, ""],
                    [ "07/15/2015", "01-01/6", "01-01", "07/15/2015", "Letter", "Whatever", "Organization 1", "EPAM","iavn ivanov","15/15/2015", { state: "awaits" }, ""],
                    [ "07/15/2015", "01-01/6", "01-01", "07/15/2015", "Letter", "Whatever", "Organization 1", "EPAM","iavn ivanov","15/15/2015", { state: "cancelled" }, ""],
                    [ "07/15/2015", "01-01/6", "01-01", "07/15/2015", "Letter", "Whatever", "Organization 1", "EPAM","iavn ivanov","15/15/2015", { state: "approved" }, ""],
                    [ "07/15/2015", "01-01/6", "01-01", "07/15/2015", "Letter", "Whatever", "Organization 1", "EPAM","iavn ivanov","15/15/2015", { state: "helded" }, ""],

                ]
            - var t = {title: 'incoming documents', head: theadColumns, body: tbodyRows };
            +table(t)

            - var theadColumns = {wrap1:{value:"text1"}, first_class:"one", second_class:"second", wrap2:{value:"text2"} };
            -
                var tbodyRows = [
                    ["adiN", "DvA", "Try", {state: "changed"}],
                ["adiN", "DvA", "Try", {state: "deleted<"}],
                    ["adiN", "DvA", "Try", {state: "allowed"}],
                    ["adiN", "DvA", "Try", {state: "allowed"}],
                    ["adiN", "DvA", "Try", {state: "allowed"}],
                ]
            - var t = {title: 'some header', head: theadColumns, body: tbodyRows };
            +table(t, "newTableClass")
        .tabcontent#sent sent